[Desktop Entry]
Type=Application
Name=swtor-setup
Name[ar]=swtor-setup
Name[bg]=swtor-setup
Name[bn]=swtor-setup
Name[ca]=swtor-setup
Name[cs]=swtor-setup
Name[da]=swtor-setup
Name[de]=swtor-setup
Name[el]=swtor-setup
Name[es]=swtor-setup
Name[et]=swtor-setup
Name[eu]=swtor-setup
Name[fa]=swtor-setup
Name[fi]=swtor-setup
Name[fr]=swtor-setup
Name[ga]=swtor-setup
Name[gl]=swtor-setup
Name[he]=swtor-setup
Name[hr]=swtor-setup
Name[hu]=swtor-setup
Name[hy]=swtor-setup
Name[id]=swtor-setup
Name[is]=swtor-setup
Name[it]=swtor-setup
Name[ja]=swtor-setup
Name[ka]=swtor-setup
Name[kk]=swtor-setup
Name[ko]=swtor-setup
Name[lt]=swtor-setup
Name[lv]=swtor-setup
Name[mk]=swtor-setup
Name[ml]=swtor-setup
Name[ms_MY]=swtor-setup
Name[nb]=swtor-setup
Name[nl]=swtor-setup
Name[nn]=swtor-setup
Name[pl]=swtor-setup
Name[pt_BR]=swtor-setup
Name[pt_PT]=swtor-setup
Name[ro]=swtor-setup
Name[ru]=swtor-setup
Name[sk]=swtor-setup
Name[sq]=swtor-setup
Name[sr]=swtor-setup
Name[sv]=swtor-setup
Name[sw]=swtor-setup
Name[th]=เswtor-setup
Name[tr]=swtor-setup
Name[uk]=swtor-setup
Name[vi]=swtor-setup
Name[zh_CN]=swtor-setup
Name[zh_TW]=swtor-setup
Comment=swtor-setup
Comment[ar]=swtor-setup
Comment[bg]=swtor-setup
Comment[bn]=swtor-setup
Comment[ca]=swtor-setup
Comment[cs]=swtor-setup
Comment[da]=swtor-setup
Comment[de]=swtor-setup
Comment[el]=swtor-setup
Comment[es]=swtor-setup
Comment[eu]=swtor-setup
Comment[fa]=swtor-setup
Comment[fi]=swtor-setup
Comment[fr]=swtor-setup
Comment[ga]=swtor-setup
Comment[gl]=swtor-setup
Comment[he]=swtor-setup
Comment[hr]=swtor-setup
Comment[hy]=swtor-setup
Comment[id]=swtor-setup
Comment[is]=swtor-setup
Comment[it]=swtor-setup
Comment[ja]=swtor-setup
Comment[ka]=swtor-setup
Comment[kk]=swtor-setup
Comment[ko]=swtor-setup
Comment[lt]=swtor-setup
Comment[lv]=swtor-setup
Comment[mk]=swtor-setup
Comment[ml]=swtor-setup
Comment[ms_MY]=swtor-setup
Comment[nb]=swtor-setup
Comment[nl]=swtor-setup
Comment[nn]=swtor-setup
Comment[pl]=swtor-setup
Comment[pt_BR]=swtor-setup
Comment[pt_PT]=swtor-setup
Comment[ro]=swtor-setup
Comment[ru]=swtor-setup
Comment[sk]=swtor-setup
Comment[sq]=swtor-setup
Comment[sr]=swtor-setup
Comment[sv]=swtor-setup
Comment[sw]=swtor-setup
Comment[th]=swtor-setup
Comment[tr]=swtor-setup
Comment[uk]=swtor-setup
Comment[vi]=swtor-setup
Comment[zh_CN]=swtor-setup
Comment[zh_TW]=swtor-setup
Exec=/home/amnesia/Persistent/swtor-addon-to-tails/scripts/swtor-setup.sh 
Icon=utilities-terminal
Terminal=false
Categories=System;Utility;
StartupNotify=true
