[Desktop Entry]
Type=Application
Name=swtor-menu
Name[ar]=swtor-menu
Name[bg]=swtor-menu
Name[bn]=swtor-menu
Name[ca]=swtor-menu
Name[cs]=swtor-menu
Name[da]=swtor-menu
Name[de]=swtor-menu
Name[el]=swtor-menu
Name[es]=swtor-menu
Name[et]=swtor-menu
Name[eu]=swtor-menu
Name[fa]=swtor-menu
Name[fi]=swtor-menu
Name[fr]=swtor-menu
Name[ga]=swtor-menu
Name[gl]=swtor-menu
Name[he]=swtor-menu
Name[hr]=swtor-menu
Name[hu]=swtor-menu
Name[hy]=swtor-menu
Name[id]=swtor-menu
Name[is]=swtor-menu
Name[it]=swtor-menu
Name[ja]=swtor-menu
Name[ka]=swtor-menu
Name[kk]=swtor-menu
Name[ko]=swtor-menu
Name[lt]=swtor-menu
Name[lv]=swtor-menu
Name[mk]=swtor-menu
Name[ml]=swtor-menu
Name[ms_MY]=swtor-menu
Name[nb]=swtor-menu
Name[nl]=swtor-menu
Name[nn]=swtor-menu
Name[pl]=swtor-menu
Name[pt_BR]=swtor-menu
Name[pt_PT]=swtor-menu
Name[ro]=swtor-menu
Name[ru]=swtor-menu
Name[sk]=swtor-menu
Name[sq]=swtor-menu
Name[sr]=swtor-menu
Name[sv]=swtor-menu
Name[sw]=swtor-menu
Name[th]=เswtor-menu
Name[tr]=swtor-menu
Name[uk]=swtor-menu
Name[vi]=swtor-menu
Name[zh_CN]=swtor-menu
Name[zh_TW]=swtor-menu
Comment=swtor-menu
Comment[ar]=swtor-menu
Comment[bg]=swtor-menu
Comment[bn]=swtor-menu
Comment[ca]=swtor-menu
Comment[cs]=swtor-menu
Comment[da]=swtor-menu
Comment[de]=swtor-menu
Comment[el]=swtor-menu
Comment[es]=swtor-menu
Comment[eu]=swtor-menu
Comment[fa]=swtor-menu
Comment[fi]=swtor-menu
Comment[fr]=swtor-menu
Comment[ga]=swtor-menu
Comment[gl]=swtor-menu
Comment[he]=swtor-menu
Comment[hr]=swtor-menu
Comment[hy]=swtor-menu
Comment[id]=swtor-menu
Comment[is]=swtor-menu
Comment[it]=swtor-menu
Comment[ja]=swtor-menu
Comment[ka]=swtor-menu
Comment[kk]=swtor-menu
Comment[ko]=swtor-menu
Comment[lt]=swtor-menu
Comment[lv]=swtor-menu
Comment[mk]=swtor-menu
Comment[ml]=swtor-menu
Comment[ms_MY]=swtor-menu
Comment[nb]=swtor-menu
Comment[nl]=swtor-menu
Comment[nn]=swtor-menu
Comment[pl]=swtor-menu
Comment[pt_BR]=swtor-menu
Comment[pt_PT]=swtor-menu
Comment[ro]=swtor-menu
Comment[ru]=swtor-menu
Comment[sk]=swtor-menu
Comment[sq]=swtor-menu
Comment[sr]=swtor-menu
Comment[sv]=swtor-menu
Comment[sw]=swtor-menu
Comment[th]=swtor-menu
Comment[tr]=swtor-menu
Comment[uk]=swtor-menu
Comment[vi]=swtor-menu
Comment[zh_CN]=swtor-menu
Comment[zh_TW]=swtor-menu
Exec=/home/amnesia/Persistent/swtor-addon-to-tails/scripts/swtor-menu.sh 
Icon=utilities-terminal
Terminal=true
Categories=Addon;
StartupNotify=true
