[Desktop Entry]
Type=Application
Name=swtor-init
Name[ar]=swtor-init
Name[bg]=swtor-init
Name[bn]=swtor-init
Name[ca]=swtor-init
Name[cs]=swtor-init
Name[da]=swtor-init
Name[de]=swtor-init
Name[el]=swtor-init
Name[es]=swtor-init
Name[et]=swtor-init
Name[eu]=swtor-init
Name[fa]=swtor-init
Name[fi]=swtor-init
Name[fr]=swtor-init
Name[ga]=swtor-init
Name[gl]=swtor-init
Name[he]=swtor-init
Name[hr]=swtor-init
Name[hu]=swtor-init
Name[hy]=swtor-init
Name[id]=swtor-init
Name[is]=swtor-init
Name[it]=swtor-init
Name[ja]=swtor-init
Name[ka]=swtor-init
Name[kk]=swtor-init
Name[ko]=swtor-init
Name[lt]=swtor-init
Name[lv]=swtor-init
Name[mk]=swtor-init
Name[ml]=swtor-init
Name[ms_MY]=swtor-init
Name[nb]=swtor-init
Name[nl]=swtor-init
Name[nn]=swtor-init
Name[pl]=swtor-init
Name[pt_BR]=swtor-init
Name[pt_PT]=swtor-init
Name[ro]=swtor-init
Name[ru]=swtor-init
Name[sk]=swtor-init
Name[sq]=swtor-init
Name[sr]=swtor-init
Name[sv]=swtor-init
Name[sw]=swtor-init
Name[th]=เswtor-init
Name[tr]=swtor-init
Name[uk]=swtor-init
Name[vi]=swtor-init
Name[zh_CN]=swtor-init
Name[zh_TW]=swtor-init
Comment=swtor-init
Comment[ar]=swtor-init
Comment[bg]=swtor-init
Comment[bn]=swtor-init
Comment[ca]=swtor-init
Comment[cs]=swtor-init
Comment[da]=swtor-init
Comment[de]=swtor-init
Comment[el]=swtor-init
Comment[es]=swtor-init
Comment[eu]=swtor-init
Comment[fa]=swtor-init
Comment[fi]=swtor-init
Comment[fr]=swtor-init
Comment[ga]=swtor-init
Comment[gl]=swtor-init
Comment[he]=swtor-init
Comment[hr]=swtor-init
Comment[hy]=swtor-init
Comment[id]=swtor-init
Comment[is]=swtor-init
Comment[it]=swtor-init
Comment[ja]=swtor-init
Comment[ka]=swtor-init
Comment[kk]=swtor-init
Comment[ko]=swtor-init
Comment[lt]=swtor-init
Comment[lv]=swtor-init
Comment[mk]=swtor-init
Comment[ml]=swtor-init
Comment[ms_MY]=swtor-init
Comment[nb]=swtor-init
Comment[nl]=swtor-init
Comment[nn]=swtor-init
Comment[pl]=swtor-init
Comment[pt_BR]=swtor-init
Comment[pt_PT]=swtor-init
Comment[ro]=swtor-init
Comment[ru]=swtor-init
Comment[sk]=swtor-init
Comment[sq]=swtor-init
Comment[sr]=swtor-init
Comment[sv]=swtor-init
Comment[sw]=swtor-init
Comment[th]=swtor-init
Comment[tr]=swtor-init
Comment[uk]=swtor-init
Comment[vi]=swtor-init
Comment[zh_CN]=swtor-init
Comment[zh_TW]=swtor-init
Exec=/home/amnesia/Persistent/swtor-addon-to-tails/scripts/swtor-init.sh 
Icon=utilities-terminal
Terminal=true
Categories=Addon;
StartupNotify=true
